{% extends 'layout.html' %}
{% block body %}																	       
																			       
{% if not user %}																	       
																			       
<div class="col-md-9">																	       
  <p>Hey! You're not logged in! Log in or Sign up to see the dashboard!</p>										       
</div>																			       
																			       
{% else %}																		       
																			       
<div class="col-md-offset-1 col-md-10">																	       
  {% for post in posts | reverse %}																       
  <br>   																		       
  <div id="post" class = "container">															       
    <center>																		       
      <p id="title">{{post[2]}}</p>															       
      <p>{{post[3]}} </p>  																       
      <p id="auttime"> User: {{post[1]}} | Last Updated : {{post[4]}} </p>											       
    </center> <br>																	       
  </div> <br>																		       
  {% endfor %}																		       
  																			       
  {% endif %}																		       
  {%endblock%}                                                                                                                                                    

  
