<!DOCTYPE html>
  <head>
    <link rel='stylesheet' href='{{ url_for("static",
          filename="css/bootstrap.min.css") }}' />
    <link rel='stylesheet' href='{{ url_for("static",
          filename="css/main.css") }}' />
      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <title>
      bloginator
    </title>
  </head>

<body>
  <nav id="main-nav" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/ ">
	{% if user %}
	{{user | title}}'s Feed
	{% else %}
	Bloginator
	{% endif %}
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Dashboard</a></li>
	  {% if user %}
	  <li><a href="/myposts">My Posts</a></li>
	  <li><a href="/logout">Logout</a></li>
	  {% else %}
          <li><a href="/signup">Signup</a></li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div id="main">
      {% if user %}
      {% else %}
      <div class="col-md-3">
        <div class = "container-fluid" id = "login">
	  {% if message %}
	  <h3>
	    {{ message }}
	  </h3>
	  {% else %}
	  <h3>Login</h3>
          <form role="form" action="/login" method="POST">
	    <input type="text" name="username" placeholder="Username"> <br>
	    <input type="password" name="password" placeholder="Password"> <br>
	    <input type="submit" name="login" value="Login">
          </form>
	  {% endif %}
        </div>
      </div>
      {% endif %}
      {% block body %}
      {% endblock %}
  </div>
  </body>
</html>
