/**
 * Styles
 */

html, body {
  width: 100%;
  min-width: 800px;
  height: 100%;
  width: 600px;
}

#circle {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}

#dvd {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}
