body{
  font-family: 'Abel', sans-serif;
  font-size: 33px;
}

#main-nav {
    background: rgba(255, 255, 255, 0);
    padding-right: 25px;
    padding-top: 10px;
    border: 0px;
}

.navbar-inverse .navbar-header .navbar-brand{
  color: #000000;
  font-size: 40px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  background-color: transparent;
  color: #000000;
}

.nav.navbar-nav.navbar-right li a {
    border-bottom: 3px solid #545CCE !important;
    color: black;
}
.nav.navbar-nav.navbar-right > .active > a {
    color: #545CCE;
    background: inherit;
}
.nav.navbar-nav.navbar-right > li > a:hover, .nav.navbar-nav.navbar-right > li > a:focus {
    color: #545CCE;
    background: inherit;
}
.nodec a{
    text-decoration: none;
}

#post{
    border-radius: 20px;
    border: 2px solid #000099;
}

#title{
  font-size:50px; 
  font-weight: bold;
}

#auttime{
  font-size:20px;
}
