{% block body %}
  <h1> Home </h1>
  <h2> Login </h2>
  <!--Wait, this is the about page, this should be a static page with no
  sign in, etc. Make sure that if you put these forms, they go in the right page-->
  <form>
      Username: <input type = "text" name = "username"
  </form>


  </form>

{% endblock %}

<!--to save space, use spaces of 2 instead of tabs, it's generally coder style
when you have long segments of code, its easier to read with 2-space
there should be setting in your lower right where you can set this
we might want to use a layout.html and just inherit from it
to avoid typing <html> over and overc



----

when you're done with the base code, copy this into layout.html and have all
other pages inherit it
-->
