<!DOCTYPE html>

<html>
  <head>
    <title>WeatherText</title>

    <link href='/static/bower/bootstrap/dist/css/bootstrap.min.css'
          rel='stylesheet' />
    <link href='/static/styles.css'
          rel='stylesheet' />

    <script src='/static/bower/jquery/dist/jquery.min.js'></script>
    {% if message %}
    <script>
      $(document).ready(function() {
        $('.message').hide().fadeIn(500).delay(3000).fadeOut(1000);
      });
    </script>
    {% endif %}
  </head>

  <body>
    {% if message %}
    <div class='message'>
      {{ message }}
    </div>
    {% endif %}
    <div class='spacer'></div>
    <div class='container'>
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>
